{
  "presets": ["react", "es2015", "stage-0"],
  "env": {
    "test": {
      "plugins": [
        "transform-decorators-legacy"
      ]
    },
    "development": {
      "plugins": [
        "transform-decorators-legacy",
        ["react-transform", {
          "transforms": [{
            "transform": "react-transform-hmr",
            "imports": ["react"],
            "locals": ["module"]
          }]
        }]
      ]
    },
    "production": {
      "plugins": [
        "transform-decorators-legacy"
      ]
    }
  }
}