.conversation-content {
    display: none;
}

.messenger {
    display: block;
}

.clear {
    clear: both;
}
/*
.conversation-item .avatar {
    display: inline-block;
    float: left;
}

*/
.conversation-item .media-body {
    margin-top: 10px;
}

.message-composer {
    height: 70px;
}

.right-panel {
    display: none;
}

.conversation-header {
    display: block;
    height: 50px;
}

.media-body.message-text {
    display: block;
}

.message-list {
    height: 100%;
}

#login .content {
    background-color: white;
}
#login .content .logo {
    text-align: center;
    margin-top: 40%;
    margin-bottom: 15%;
}

.typing-indicator-panel {
    height: 20px;
    padding: 0;
}

.conversation-list-view.hide {
    display: none;
}

.conversation-list-view header .title {
    text-align: left;
}

.conversation-list-view header .title img {
    margin-top: 20px;
    margin-left: 15px;
    width: 130px;
}

.conversation-list-view header.bar {
    height: 60px;
}

.conversation-list-view header.bar-nav~.content {
    padding-top: 60px;
}

/* Start list message */

.conversation-list-view .conversation-item .media-body.message-title {
    font-family: 'Proxima N W01 Bold', serif;
    font-weight: bolder;
    padding-top: 10px;
}

.conversation-list-view .conversation-item .media-body.message-text {
    font-family: 'Proxima N W01 Thin Reg', serif;
    margin-top: 0px;
}

.conversation-list-view .conversation-item .avatar {
    background-color: #58585a;
}

.conversation-list-view .conversation-item .avatar span {
    box-shadow: none;
    color: white;
    font-family: 'Proxima Nova W01 Medium', serif;
    font-weight: normal;
    font-size: 1.1rem;
}

/* End list message */

/* Start Bubble Messages Styles */

.conversation-content-view .title {
    font-family: 'Proxima N W01 Light', serif;
    text-transform: uppercase;
}

.conversation-content-view .content .message-item {
    position: relative;
    display: block;
}

.conversation-content-view .content .message-item .conversation-avatar {
    height: 24px;
    width: 24px;
    position: absolute;
}

.conversation-content-view .content .message-item .main {
    display: block;
    max-width: none;
    margin-bottom: 5px;
}

.conversation-content-view .content .message-item .conversation-avatar {
    display: none;
    left: 0;
    bottom: 20px;
}

.conversation-content-view .content .message-item.current-user-message .conversation-avatar {
    right: 0;
    left: inherit;
}

.conversation-content-view .content .message-item .data {
    display: block;
    font-size: 12px;
    font-family: 'Proxima N W01 Light', serif;
    font-weight: bold;
    width: 90%;
}

.conversation-content-view .content .message-item.current-user-message .data {
    margin-left: auto;
}

.conversation-content-view .content .message-item .data .message-date {
    float: left;
    font-weight: normal;
    font-style: normal;
}

.conversation-content-view .content .message-item .data .message-status {
    float: right;
    color: #1b83db;
}

.conversation-content-view .content .message-item .bubble.text {
    font-family: 'Proxima N W01 Light', serif;
    border-radius: 9px;
    background-color: #ffffff;
    width: 90%;
    padding: 12px 17px;
    margin-left: 0;
}

.conversation-content-view .content .message-item .bubble.text p {
    color: #3d4c53;
    margin-bottom: 0;
}
.conversation-content-view .content .message-item .bubble.text br {
    line-height: 25px;
}
.conversation-content-view .content .message-item .bubble.text p span.user-name {
    font-weight: bold;
}

.conversation-content-view .content .message-item.current-user-message .bubble.text {
    background-color: #1b83db;
    margin-left: auto;
}

.conversation-content-view .content .message-item.current-user-message .bubble.text p {
    color: #ffffff;
}

/* End Bubble Messages Styles */

/* Start Bubble Messages Container */

.conversation-content-view .content {
    padding-bottom: 60px;
}

.conversation-content-view .bar.bar-standard.bar-footer {
    height: 60px;
}

/* End Bubble Messages Container */

/* Start typing indicator */

.conversation-content-view .message-item.typing .bubble.text p {
    font-size: 30px;
    line-height: 10px;
}
.conversation-content-view .message-item.typing .bubble.text {
    width: 20%;
}
.conversation-content-view .message-item.typing.hide {
    display: none;
}

@keyframes blink {
    0% {
        color: #3d4c53;
    }
    50% {
        color: #e6e9ee;
    }
    100% {
        color: #3d4c53;
    }
}

.blink-animation {
    -moz-transition:all 0.5s ease-in-out;
    -webkit-transition:all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
    -ms-transition:all 0.5s ease-in-out;
    transition:all 0.5s ease-in-out;
    -moz-animation:blink normal 1.5s infinite ease-in-out;
    /* Firefox */
    -webkit-animation:blink normal 1.5s infinite ease-in-out;
    /* Webkit */
    -ms-animation:blink normal 1.5s infinite ease-in-out;
    /* IE */
    animation:blink normal 1.5s infinite ease-in-out;
    /* Opera */
}

/* End typing indicator */

/* Start Composer styles */
.conversation-content-view .message-composer {
    background-color: #ffffff;
    height: 60px;
}

.conversation-content-view .message-composer .message-textarea {
    font-family: 'Proxima N W01 Light', serif;
    font-size: 14px;
    border-radius: 4px 0 0 4px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0;
    padding-right: 0;
    background-color: #f5f6f8;
    color: #8599a2;
    margin-right: 0;
}
.conversation-content-view .message-composer .submit-button {
    height: 39px;
    margin-top: 10px;
    margin-right: 10px;
}
/* End Composer styles */
