.avatar {
    margin-top: 10px;
    margin-left: 37px;
    display: inline-block;
    vertical-align: top;
}

.avatar .image, .avatar.default {
    border-radius: 50%;
    height: 45px;
    width: 45px;
    position: relative;
    z-index: 2;
}

.avatar .image {
    border: 2px solid #61d079;
}

.avatar.unread .image, .avatar.unread .letter {
    border: 5px solid #eef3f8;
}

.avatar.header {
    margin: 0;
    vertical-align: middle;
}

.avatar.header .image, .avatar.header .letter {
    height: 35px;
    width: 35px;
    border: none;
}

.avatar.header .letter {
    padding-top: 20%;
    font-size: 15px;
}

.avatar .letter {
    text-align: center;
    font-family: "Proxima N W01 Light", serif;
    font-size: 22px;
    color: white;
    padding-top: 8px;
    box-sizing: border-box;
    height: 55px;
    width: 55px;
}

.avatar.site {
    margin: 0;
    margin-top: 20px;
    margin-left: -15px;
}

.avatar.site .image {
    background-color: #ffffff;
    border: none;
    box-shadow: 0 1px 6px 0 #c5c9cd;
    height: 35px;
    width: 35px;
}

.avatar .letter.upperCase {
    padding-top: 16%;
}

.avatar.header .letter.upperCase {
    padding-top: 24%;
}

.avatar.default {
    background-color: white;
}

.avatar.default .iconIdentity {
    width: 29px;
    background-color: white;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

@media screen and (max-width: 400px) {
    .avatar {
        margin-left: 15px;
    }
}
