.message {
    composes: container from "./TimeLineItem.css";
    height: auto;
}

.leftElement {
    composes: leftElement from "./TimeLineItem.css";
}

.rightElement {
    composes: rightElement from "./TimeLineItem.css";
    max-width: 600px;
}

.displayName {
    composes: nameLabel from "./TimeLineItem.css";
}

.linkLabel {
    composes: linkLabel from "./TimeLineItem.css";
    text-decoration: none;
}

.metaDataLabel {
    composes: metaDataLabel from "./TimeLineItem.css";
}

.title {
    margin-top: 20px;
    margin-bottom: 3px;
}

.metaData, .title {
    display: block;
}

.metaData .icon {
    width: 16px;
    height: 9px;
    background-image: url('/src/components/timeline/images/view-icon.png');
    margin-right: 5px;
}

.title > div, .metaData > div {
    display: inline-block;
    vertical-align: middle;
}

.messageBody {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 13px;
    font-family: "Proxima Nova W01 Medium", serif;
}

.replyBtn:before {
    content: '';
    display: inline-block;
    width: 14px;
    height: 10px;
    margin-right: 5px;
    background-image: url('/src/components/timeline/images/reply-icon.png');
}

.replyBtn {
    composes: metaDataLabel from "./TimeLineItem.css";
    text-decoration: none;
}