.message {
    composes: container from "./TimeLineItem.css";
    height: auto;
    position: relative;
}

.unread {
    composes: unread from "./TimeLineItem.css";
}

.leftElement {
    composes: leftElement from "./TimeLineItem.css";
}

.unread .leftElement:before {
    content: '';
    height: 8px;
    width: 8px;
    background-color: #4198e1;
    display: block;
    position: absolute;
    border-radius: 50%;
    top: 32px;
    left: 20px;
}

.rightElement {
    composes: rightElement from "./TimeLineItem.css";
    width: calc(100% - 95px);
}

.displayName {
    composes: nameLabel from "./TimeLineItem.css";
}

.linkLabel {
    composes: linkLabel from "./TimeLineItem.css";
}

.metaDataLabel {
    composes: metaDataLabel from "./TimeLineItem.css";
}

.title {
    composes: inlineContent from "./TimeLineItem.css";
    margin-top: 15px;
    margin-bottom: 3px;
}

.message.conversation .title {
    margin-top: 25px;
}

.metaData {
    padding-left: 5px;
    width: 450px;
    margin-bottom: 15px;
}

.metaData .metaDataLink {
    text-decoration: none;
}

.metaData, .metadataExtra, .metaDataLink {
    composes: inlineContent from "./TimeLineItem.css";
}

.metaData, .title {
    display: block;
}

.metaData .icon {
    width: 16px;
    height: 9px;
    background-image: url('/src/components/timeline/images/view-icon.png');
    margin-right: 5px;
}

.messageBody {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-right: 37px;
    font-size: 13px;
    font-family: "Proxima Nova W01 Medium", serif;
}

.conversation .displayName {
    margin-right: 10px;
}

.conversation .messageBody {
    margin: 0;
}

.readLabel {
    margin-top: 5px;
    font-family: "Proxima N W01 Smbd", serif;
    font-size: 10px;
    color: #1b83db;
    padding-bottom: 10px;
}

.actionBtn {
    display: inline-block;
    margin-right: 75px;
    /*
    width: 180px;
    */
}

.actionBtn > * {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.replyIcon {
    width: 32px;
    height: 32px;
    background-image: url('/src/components/timeline/images/reply-icon.png');
    content: ' ';
}

.conversationIcon {
    width: 32px;
    height: 32px;
    background-image: url('/src/components/timeline/images/conversation-icon.png');
    content: ' ';
}

.message:hover .leftElement > div {
    background-color: #f2f6f9 !important;
}

.message:hover .leftElement > div > img {
    background-color: #f2f6f9 !important;;
}


@media screen and (max-width: 740px) {
    .actionBtn {
        width: 35px;
        left: auto;
        right: 0;
    }
    .actionBtn .linkLabel {
        display: none;
    }
    .metaData {
        width: calc(100% - 55px);
    }
    .leftElement {
        width: 75px;
    }
    /*
    .metaData .metaDataLabel, .metaData .linkLabel {
        display: none;
    }
    */
}
