@value medium from "./Breakpoints.css";

.container {
    display: block;
    width: 100%;
    height: 70px;
    min-height: 70px;
}

.container:hover {
    background-color: #f2f6f9;
}

.container:first-of-type:before {
    top: 20px;
    height: calc(100% - 20px);
}

.container:last-of-type:before {
    height: 20px;
}

.container:before {
    content: '';
    position: absolute;
    top: 0;
    left: 60px;
    width: 1px;
    background: #c5d8f3;
    height: 100%;
    z-index: 1;
}

.event {
    display: none;
}

.unread {
    background-color: #eef3f8;
    border-top: 1px solid white;
}

.leftElement, .rightElement {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    box-sizing: border-box;
    position: relative;
}

.leftElement {
    width: 95px;
}

.nameLabel {
    font-family: "Proxima N W01 Bold", serif;
    font-size: 15px;
    color: black;
}

.linkLabel {
    font-family: "Proxima N W01 Smbd", serif;
    font-size: 15px;
    color: #4198e1;
}

.metaDataLabel {
    font-family: "Proxima N W01 Smbd", serif;
    font-size: 15px;
    color: #a8b2bb;
}

.inlineContent > * {
    display: inline;
    vertical-align: middle;
}

.actionButtons {
    position: absolute;
    top: 15px;
    width: auto;
    left: 455px;
}

@media medium {
    .container:before {
        left: 37px;
    }
    .actionButtons {
        left: auto;
        right: 0;
    }
}
