.container {
    display: block;
    width: 100%;
    height: 70px;
    min-height: 70px;
}

.container:first-of-type:before {
    top: 20px;
    height: calc(100% - 20px);
}

.container:last-of-type:before {
    height: 20px;
}

.container:before {
    content: '';
    position: absolute;
    top: 0;
    left: 61px;
    width: 1px;
    background: #c5d8f3;
    height: 100%;
    z-index: 1;
}

.event {
    display: none;
}

.unread {
    background-color: #eef3f8;
    border-top: 1px solid white;
}

.leftElement, .rightElement {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    box-sizing: border-box;
}

.leftElement {
    width: 95px;
    max-width: 95px;
}

.nameLabel {
    font-family: "Proxima N W01 Bold", serif;
    font-size: 15px;
    color: black;
}

.linkLabel {
    font-family: "Proxima N W01 Smbd", serif;
    font-size: 15px;
    color: #4198e1;
}

.metaDataLabel {
    font-family: "Proxima N W01 Smbd", serif;
    font-size: 15px;
    color: #a8b2bb;
}