.visit {
    composes: container from "./TimeLineItem.css";
    padding-bottom: 15px;
}

.leftElement {
    composes: leftElement from "./TimeLineItem.css";
}

.rightElement {
    composes: rightElement from "./TimeLineItem.css";
}

.displayName {
    composes: nameLabel from "./TimeLineItem.css";
}

.linkLabel {
    composes: linkLabel from "./TimeLineItem.css";
    text-decoration: none;
}

.metaDataLabel {
    composes: metaDataLabel from "./TimeLineItem.css";
}

.title {
    margin-top: 20px;
    margin-bottom: 10px;
}

.metaData, .title {
    display: block;
}

.metaData .icon {
    width: 16px;
    height: 9px;
    background-image: url('/src/components/timeline/images/view-icon.png');
    margin-right: 5px;
}

.title > div, .metaData > div {
    display: inline-block;
    vertical-align: middle;
}

.unread {
    composes: unread from "./TimeLineItem.css";
}

.originInformation {
    composes: originInformation from "./TimeLineItem.css";
}

/* With Site Icons */

.displaySite {
    composes: displaySite from "./TimeLineItem.css";
}
